<div class="container overflow-hidden">
  <div class="row">
    <div class="col-sm-12 animate__animated animate__bounce">
      <div class="mt-5">
        <span class="text-center d-block ctl">Category</span>
      </div>
      <h1 class="text-center">Main meal</h1>
      <div class="b my-4">
        <div class="bw"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xxl-9 animate__animated animate__rollIn">
      <div class="row row-cols-md-2 row-cols-lg-3  text-center gy-5">
        <div class="col-sm">
          <img class="img-fluid" loading="lazy" src="https://g-tech.sirv.com/repasto/postn34-550x824.jpg?w=300&h=500" width="300" height="449" alt="" />
          <div>
            <div class="py-3">
              <span class="ctl me-3">Cocktails</span>
              <span class="date">February 11, 2019</span>
            </div>
            <div>
              <h3>Blueberry Ginger Mojito Pitchers</h3>
              <div class="bw w-100 my-3"></div>
              <p>
                When the heat structs and you need a quick cool-down this drink will be your go to!
              </p>
              <div class="link mt-5">
                <a class="link" href="">CONTINUE READING</a>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm">
          <img class="img-fluid" loading="lazy" src="https://g-tech.sirv.com/repasto/morre-christophe-130449.jpg?w=300&h=500" width="300" height="449"
            srcset="https://g-tech.sirv.com/repasto/morre-christophe-130449.jpg?w=300&h=500 1x, https://g-tech.sirv.com/repasto/morre-christophe-130449.jpg?w=600&h=1000 2x"
            alt="" />
          <div>
            <div class="py-3">
              <span class="ctl me-3">Cocktails</span>
              <span class="date">April 12, 2017</span>
            </div>
            <div>
              <h3>Summer Strawberry Cocktail</h3>
              <div class="bw w-100 my-3"></div>
              <p>
                A Bloodhound is a tasty, red, strawberry cocktail made with gin, vermouth, and strawberry coulis.
              </p>
              <div class="link mt-5">
                <a class="link" href="">CONTINUE READING</a>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm">
          <img class="img-fluid" loading="lazy" src="https://g-tech.sirv.com/repasto/postn25.jpg?w=300&h=500" width="300" height="450"
            srcset="https://g-tech.sirv.com/repasto/postn25.jpg?w=300&h=500 1x, https://g-tech.sirv.com/repasto/postn25.jpg?w=600&h=1000 2x"
            alt="" />
          <div>
            <div class="py-3">
              <span class="ctl me-3">Cocktails</span>
              <span class="date">January 13, 2017</span>
            </div>
            <div>
              <h3>Non-Alcoholic Drinks to Enjoy on a Hot Summer Day</h3>
              <div class="bw w-100 my-3"></div>
              <p>
                To be perfectly honest, I’m not a big fan of alcoholic beverages in summer. They make me sweat even more; they make me
                feel dizzy and
              </p>
              <div class="link mt-5">
                <a class="link" href="">CONTINUE READING</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xxl-3 border-left">
      <div class="mtopmobile">
        <app-shared></app-shared>
      </div>
    </div>
  </div>
</div>