<div class="container-fluid px-5 overflow-hidden">
    <div class="row">
        <div class="col-sm-12 animate__animated animate__bounce">
            <div class="mt-5">
                <span class="text-center d-block ctl">Category</span>
            </div>
            <h1 class="text-center">Dessert</h1>
            <div class="b my-4">
                <div class="bw"></div>
            </div>
        </div>
    </div>
    <div class="row rb">
        <div class="col-12 col-xxl-9 animate__animated animate__rollIn">
            <div class="row row-cols-md-2 row-cols-xxl-3 gy-5 text-center">
                <div class="col-12 col-md-4 ">
                    <img class="img-fluid" loading="lazy" src="https://obbefule.sirv.com/repasto/post-de1-550x825.jpg?w=300&h=500" width="300" height="449" alt="" />
                    <div>
                        <div class="py-3">
                            <span class="ctl me-3">Dessert</span>
                            <span class="date">January 22, 2020</span>
                        </div>
                        <div>
                            <h3>Lemon Blueberry Layer Cake</h3>
                            <div class="bw w-100 my-3"></div>
                            <p>
                                I absolutely love this lemon blueberry cake because the blueberries DO NOT sink to the
                                bottom of the cake. Why not?
                                Because the batter is so thick and creamy.
                            </p>
                            <div class="link mt-5">
                                <a class="link" href="">CONTINUE READING</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-4 ">
                    <img class="img-fluid" loading="lazy" src="https://obbefule.sirv.com/repasto/postn36-550x825.jpg?w=300&h=500" width="300" height="449" alt="" />
                    <div>
                        <div class="py-3">
                            <span class="ctl me-3">Dessert</span>
                            <span class="date">March 11, 2019</span>
                        </div>
                        <div>
                            <h3>Savory Muffins</h3>
                            <div class="bw w-100 my-3"></div>
                            <p>
                                Looking for a snack that’s savory, fluffy and delicious? You are in the right place.
                            </p>
                            <div class="link mt-5">
                                <a class="link" href="">CONTINUE READING</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-4 ">
                    <img class="img-fluid" loading="lazy" src="https://obbefule.sirv.com/repasto/postn3-550x735.jpg?w=300&h=450" width="300" height="400" alt="" />
                    <div>
                        <div class="py-3">
                            <span class="ctl me-3">Main meal</span>
                            <span class="date">September 22, 2017</span>
                        </div>
                        <div>
                            <h3>Homemade Ice-Cream Recipes</h3>
                            <div class="bw w-100 my-3"></div>
                            <p>
                                Cold, creamy ice cream is essential for surviving sweltering days in the South. And you
                                don’t have to visit an ice-cream
                                shop to get your fix.
                            </p>
                            <div class="link mt-5">
                                <a class="link" href="">CONTINUE READING</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-4 ">
                    <img class="img-fluid" loading="lazy" src="https://obbefule.sirv.com/repasto/postn37-550x825.jpg?w=300&h=500" width="300" height="449" alt="" />
                    <div>
                        <div class="py-3">
                            <span class="ctl me-3">Dessert</span>
                            <span class="date">September 5, 2017</span>
                        </div>
                        <div>
                            <h3>Easy Macaron Recipe: Perfect Every Time</h3>
                            <div class="bw w-100 my-3"></div>
                            <p>
                                Beautiful macarons are one of the current ‘sweet’ crazes. They make a wonderful gift or
                                just a delicious snack!
                            </p>
                            <div class="link mt-5">
                                <a class="link" href="">CONTINUE READING</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 ">
                    <img class="img-fluid" loading="lazy" src="https://obbefule.sirv.com/repasto/postn29-550x827.jpg?w=300&h=500" width="300" height="451" alt="" />
                    <div>
                        <div class="py-3">
                            <span class="ctl me-3">Dessert, Snack</span>
                            <span class="date">May 11, 2017</span>
                        </div>
                        <div>
                            <h3>Vanilla Muffins You Have to Make</h3>
                            <div class="bw w-100 my-3"></div>
                            <p>
                                Like vanilla and muffins? It’s time you make my famous, fluffy Vanilla muffins.
                            </p>
                            <div class="link mt-5">
                                <a class="link" href="">CONTINUE READING</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-4 ">
                    <img class="img-fluid" loading="lazy" src="https://obbefule.sirv.com/repasto/post16.6.jpg?w=300&h=300" width="300" height="200"
                        srcset="https://obbefule.sirv.com/repasto/post16.6.jpg?w=300&h=300 1x, https://obbefule.sirv.com/repasto/post16.6.jpg?w=600&h=600 2x"
                        alt="" />
                    <div>
                        <div class="py-3">
                            <span class="ctl me-3">Dessert</span>
                            <span class="date">January 21, 2017</span>
                        </div>
                        <div>
                            <h3>Apple Pie</h3>
                            <div class="bw w-100 my-3"></div>
                            <p>
                                An apple pie is a popular fruit pie, in which the principal filling ingredient is apple.
                            </p>
                            <div class="link mt-5">
                                <a class="link" href="">CONTINUE READING</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 ">
                    <img class="img-fluid" loading="lazy" src="https://obbefule.sirv.com/repasto/postn22.jpg?w=300&h=500" width="300" height="450"
                        srcset="https://obbefule.sirv.com/repasto/postn22.jpg?w=300&h=500 1x, https://obbefule.sirv.com/repasto/postn22.jpg?w=600&h=1000 2x"
                        alt="" />
                    <div>
                        <div class="py-3">
                            <span class="ctl me-3">Dessert</span>
                            <span class="date">January 13, 2017</span>
                        </div>
                        <div>
                            <h3>Chocolate Desserts: The Ultimate Recipe</h3>
                            <div class="bw w-100 my-3"></div>
                            <p>
                                If you want a quick dessert snack and you don’t want to make a big mess, this is the
                                recipe for you! Just follow the
                                easy steps below and enjoy the chocolate dessert of your dreams.
                            </p>
                            <div class="link mt-5">
                                <a class="link" href="">CONTINUE READING</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-3 border-left">
            <div class="mtopmobile">
                <app-shared></app-shared>
            </div>
        </div>
    </div>
</div>