<div class="container">
    <div class="row">
        <div class="col-sm-12 animate__animated animate__bounce">
            <h1 class="text-center">Contact</h1>
            <div class="b my-4">
                <div class="bw"></div>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-12 col-xxl-8 animate__animated animate__rollIn">
            <p>If you would like to get in touch, feel free to send me an email to <a href="mailto:matthewgodstime8585@gmail.com">Matthew God'stime</a>. Just keep in mind that,
            due to the number of emails received, I may not be able to respond to every request.</p>

            <div>
                <div class="follow">
                    <p>For the latest recipes and industry news follow me on:</p>
                </div>
                <div class="d-flex justify-content-center" style="column-gap: 10%;">
                   <div class="">
                    <a href="https://www.facebook.com/matthew.godstime.161"><i class="fa fs-1 fa-facebook-official" aria-hidden="true"></i></a>
                   </div>
                   <div>
                    <a href=""><i class="fa fs-1 fa-instagram" aria-hidden="true"></i></a>
                   </div>
                   <div>
                    <a href=""><i class="fa fs-1 fa-twitter" aria-hidden="true"></i></a>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xxl-4 border-left">
            <div class="row ">
                <div class="col-sm-6 col-lg-10 mx-sm-auto mt-5 mt-lg-0" >
                <img class="img-fluid" src="../../assets/images/book2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
